/*base and index styling*/
@font-face {
  font-family: 'FontAwesome';
  src: url('static/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('static/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.indextitle>h1,.indextitle h2{
	display: block;
	position:absolute;
	top:60px;
	font-family: 'FontAwesome'，sans-serif;
	font-size: 3em;
/* 	margin: 0.67em 0;*/
 	font-weight: bold;
 	color:#FDF2FF;
  text-align: center;
}
.indextitle h2{
  display: inline-block;
	font-size: 1.2em;
  top:200px;
  left:40%;
}
div.indexp{
	font-family: FontAwesome;
	font-size: 1.2em;
}
nav{
	margin-bottom: 41px;
	border: none;
}
.nav-tabs:hover{
background-color: #0B116E;
}
.nav-tabs> li.active > a{
	color: #ffffff;
  	background-color:  #0B116E;
}
.description p{
	font-family:FontAwesome,Arial,sans-serif;
	line-height: 2em;
	font-size: 1.2em;
}
#imagelink .portfolio-link .caption{
   position: absolute;
   width:94%;
   height: 94%;
   opacity: 0;
   margin-top: 2%;
    background-color:#0F0E87;
    -webkit-transition: all ease .6s;
    -moz-transition: all ease .6s;
    transition: all ease .6s;
}
#imagelink .portfolio-link .thumbnail{
  margin-top: 2%;
}
#imagelink .portfolio-link .caption:hover{
  opacity:0.2;
}
div.caption-content p{
	color:white;
	font-size:2em;
	position:relative;
	top:10px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}
div.caption-content h2{
  color:white;
  font-size:3em;
  text-align: center;
  padding-left: 10%;
}
/*footer and inside button styling */
footer {
    color: #fff;
}
footer .container {
	margin-top:50px;
    padding-top: 30px;
    background-color: #0F0E87;
    padding-bottom: 10px;
    width:100%;
}

footer .footer-col {
    margin-bottom: 30px;
}
.btn-social {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}
.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
}
/*sticky footer*/
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}
.footer, .push {
clear: both;
}
/*contact page styling*/
h1{
	font-family: 'FontAwesome'，sans-serif;
	position:absolute;
	top:5%;
	left:42%;
	text-align:center;
	font-weight: bold;
}
/*#contactheader:before{
  content:"\f0e0";
  color:#CA17C7;
}
#contactheader:after{
  content:"\f1ae";
  color:#CA17C7;
}*/
#successmsg{
  color:green;
  font-family: 'FontAwesome'，sans-serif;
  font-size: 1.8em;
  text-align:center;
  font-weight: bold;
}
.form-control {
  display: block;
  /*width: 100%;*/
  height: 45px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dce4ec;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 1, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 1, 0.075);
}
.form-control:focus {
  border-color: #2c3e50;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,1,0.075), 0 0 8px rgba(0, 0, 255,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,1,0.075), 0 0 8px rgba(0,0,255,0.6);
}
.form-control::-moz-placeholder {
  color: #acb6c0;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #acb6c0;
}
.form-control::-webkit-input-placeholder {
  color: #acb6c0;
}
textarea.form-control {
  height: auto;
}
.form-group button[type="submit"] {
   background: #111DFF;
   color: #FDFFFA;
   margin-bottom: 30px;
 }
 .form-group button[type="submit"]:hover{
 	background-color:#0B116E;
 }
 .form-group label{
 	font-size: 1.2em;

 }
hr,hr.star-primary{
    margin: 10% auto 30px;
    padding: 0;
    max-width: 80%;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}
hr.star-primary:after {
    content: "\f005";
    color:#C7CA1B;
    display: inline-block;
    position: relative;
    top: 1em;
    left:1em;
    padding: 2em;
    font-family: FontAwesome;
    font-size: 2em;
}
div.contactme p{
	font-family: FontAwesome,Arial,sans-serif;
	font-size: 1.5em;
	line-height: 2em;
	font-weight: bold;
	text-align: justify;
}
#contactmep1{
	position: relative;
	top:-3.5em;
	left: 6%;
}
#contactmep2{
	position: relative;
	top:-3.5em;
	left:10%;
}
hr.heart-primary {
    margin: 0 auto 30px;
    padding: 0;
    max-width: 80%;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}
hr.heart-primary:after {
    content: "\f004";
    color:#FF1F44; 
    display: inline-block;
    position: relative;
    top: -8em;
    left:1em;
    padding: 2em;
    font-family: FontAwesome;
    font-size: 2em;
}
.text-danger{
	color:red;
	font-weight: bold;
	font-family: FontAwesome,Arial,sans-serif;
}
/*for travel page styling*/
#travel{
  margin-top:40px;
  left:44%;
  color:#F5F2FF;
}
/*#travel:before,
#travel:after{
 content:"\f209";
}*/
#travelhr{
  margin-top: 10px;
}
div.travelp,#food{
  position:absolute;
  margin-left:2%;
  margin-right: 2%;
  top:40%;
  font-family: FontAwesome;
  font-size: 1.2em;
  text-align: justify;
}
div.travelp{
  position:relative;
}
#travelafter{
    max-width: 100%;
    margin-top: 25px;
}
.carousel-inner img{
position: relative;
left:30%;
margin-bottom: 0;
}
#myCarousel{
/*margin-top: 60%;*/
padding-bottom: 60px;
}
.carousel-control.right, .carousel-control.left {
  color:#2528FF;
  background-image:none;
  bottom:26%;
}
.carousel-caption p{
  font-family: FontAwesome,Arial,sans-serif;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: bold;
  padding-left:30%;
  padding-right:30%;
}
/*food page styling*/
/*#foodheader:after{
  content: "\f0f5";
}*/
#foodheader:hover{
  font-size:4em;
  transition-timing-function: linear;
  transition-delay: 1s;
  color:#FF3FB3;
}
#foodhr{
  margin-top: 10px;
}
#food{
  top: 30%;
}
.fooddesp p{
  font-family: FontAwesome;
  font-size: 17px;
  text-align: justify;
  line-height: 2em;
  margin-top: 10px;
}
#ricenoodles{
  margin-top: 20px;
}
#hotpot,#macaron{
    margin-top: 30px;
}
#macaron{
  margin-bottom: 30px;
}
#hotpot p{
  line-height: 3em;
  margin-top: 20px;
}
#macaron p{
  line-height: 3em;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width:320px){
  nav{
  margin-bottom:165px;
}
.title-image img{
  visibility: hidden;
}
.indextitle>h1{
  display:block;
  top:200px;
  color:#1F29EC;
  font-size: 1.5em;
  text-align: center;
}
.indextitle>h2{
  display:block;
  top:250px;
  color:#1F29EC;
 left:24%;
}
div.indexp,.description p{
  color:#1F29EC;
}
.portfolio-link img{
  visibility: hidden;
   margin-bottom: 100px;
}
#imagelink .portfolio-link .caption{
   opacity: 1;
   margin-top: 2%;
   background-color:transparent;
}
#imagelink .portfolio-link .caption:hover{
  opacity:1;
  text-decoration: underline;
}
div.caption-content h2{
  color: #1F29EC;
  margin-left:-5%;
}
div.caption-content p{
  color: #1F29EC;
}
.header,#contactheader{
  top:24%;
  display:block;
  text-align: center;
}
hr.star-primary{
  display:none;
}
hr.heart-primary{
  display: none;
}
#contactheader:after{
  display: none;
}
hr.star-primary:after,hr.heart-primary:after {
  display:none;
}
div.contactme p{
  display:block;
  text-align: left;
  top:2.5em;
}
#contactmep1{
  top:2.5em;
  left: 6%;
}
#contactmep2{
  top:2.5em;
  left: 6%;
  padding-bottom: 40px;
}
.form-control {
  width: 60%;
  margin-left: 8%;
}
.form-group button[type="submit"] {
  margin-left: 8%;
}
.form-group button[type="submit"]:hover{
  background-color:#111DFF;
 }
 div.form-group label{
  margin-left: 8%;
 }
 .text-danger{
  margin-left: 6%;
 }
 #foodheader{
  top:28%;
  left:42%;
 }
#food{
  margin-left: 4%;
  top:46%;
}
#foodhr{
  visibility: hidden;
}
#fbg{
  visibility: hidden;
}
#ricenoodles{
  margin-top: 3px;
}
#travelbg{
  visibility: hidden;
}
#travel{
  font-size: 2em;
  color: #1F29EC;
  left:42vw;
  top:36%;
}
.carousel-caption h3{
  font-size: 1em;
}
.carousel-caption p{
  display: none;
}
#travelhr{
 visibility: hidden;
}
}
@media screen and (min-width:768px){
 nav{
  margin-bottom:41px;
}
.title-image img{
  visibility: visible;
}
.indextitle>h1{
  top:60px;
  color:#FDF2FF;
  font-size: 2em;
  left:42%;
}
.indextitle>h2{
  top:120px;
  color:#FDF2FF;
  font-size: 1.6em;
  left:30%;
}
div.indexp,.description p{
  color:black;
}
.portfolio-link img{
  visibility: visible;
}
div.caption-content h2,div.caption-content p{
  color:white;
}
#imagelink .portfolio-link .caption{
   opacity: 1;
   margin-top: 2%;
   background-color:transparent;
}
#imagelink .portfolio-link .caption:hover{
  opacity:1;
}
div.caption-content h2{
  top:50px;
}
.header,#contactheader{
  top:4%;
}
.form-control {
  width: 80%;
  margin-left: 8%;
}
.form-group button[type="submit"] {
  margin-left: 8%;
}
.form-group button[type="submit"]:hover{
  background-color:#111DFF;
 }
 div.form-group label{
  margin-left: 8%;
 }
 .text-danger{
  margin-left: 6%;
 }
 div.contactme p{
  display:block;
  text-align: center;
 }
 #foodheader{
  top:12%;
  left:42%;
 }
#food{
  margin-left: 2%;
  margin-right: 2%;
  top:30%;
  font-size: 1.5em;
}
#travelbg{
  visibility: visible;
  margin-top:41px;
}
#travel{
  font-size: 2em;
  top:61px;
  color:white;
}
.carousel-caption h3{
  font-size: 1.5em;
}
.carousel-caption p{
  display: block;
  font-size:1.2em;
}
#travelhr{
  display: none;
}
}
@media screen and (min-width:992px){
.indextitle>h1{
  font-size: 3em;
  left:42%;
}
.indextitle>h2{
  font-size: 2em;
  left:32%;
}
#imagelink .portfolio-link .caption{
   position: absolute;
   width:94%;
   height: 90%;
   opacity: 0;
   margin-top: 2%;
   background-color:#0F0E87;
    -webkit-transition: all ease .6s;
    -moz-transition: all ease .6s;
    transition: all ease .6s;
}
.portfolio-link img{
  margin-bottom: 6%;
}
#imagelink .portfolio-link .caption:hover{
  opacity:0.2;
  text-decoration: none;
}
.header,#contactheader{
  top:4%;
}
.form-control {
  display: block;
  text-align: left;
  height: 45px;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  width: 100%;
  margin-left: 2%;
}
.form-group button[type="submit"] {
  color: #FDFFFA;
  margin-left: 2%;
}
.form-group button[type="submit"]:hover{
  background-color:#0B116E;
 }
 div.form-group label{
  margin-left: 2%;
 }
 .text-danger{
  margin-left: 2%;
 }
#contactheader{
  left:42%;
}
hr.star-primary,
hr.heart-primary{
  display: block;
}
hr.heart-primary{
  margin-bottom:30px;
}
#contactheader:after,
hr.star-primary:after,hr.heart-primary:after {
  display:inline;
  left:8%;
}
hr.star-primary:after{
  top:4em;
}
hr.heart-primary:after{
  top:-5em;
}
div.contactme p{
  text-align: left;
}
#travelhr{
  display:block;
  visibility: visible;
  max-width: 95%;
  margin-bottom: -30px;
}
#contactmep1{
  position: relative;
  top:-1em;
  left: 6%;
}
#contactmep2{
  position: relative;
  top:-1em;
  left:10%;
}
#fbg{
  visibility: visible;
}
#food{
  top:34%;
  left:8%;
  font-size: 1.2em;
}
#foodhr{
  visibility: visible;
}
#hotpot,#macaron{
    margin-top: 20px;
}
#travel{
  font-size: 3em;
}
.carousel-caption h3{
  font-size: 2em;
}
.carousel-caption p{
  display: block;
  font-size:1.5em;
}
}