<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
	{% block title %}haha{% endblock %}</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/style.css"/>

</head>
<body>
	<header>
		<nav>
				<ul class="nav nav-tabs nav-justified navbar-fixed-top">
 				<li class=" {% if name == "/index" or name == "index" %}active{% else %}inactive{% endif %}"><a data-toggle="tab" href="#home">Home</a></li>
  				<li class=" {% if name == "/login" %}active{% else %}inactive{% endif %}"><a data-toggle="tab" href="#login">Login</a></li>
  				<li class=" {% if name == "/food" %}active{% else %}inactive{% endif %}"><a data-toggle="tab" href="#food">Food</a></li>
  				<li class=" {% if name == "/travel" %}active{% else %}inactive{% endif %}"><a data-toggle="tab" href="#travel">Travel</a></li>
				</ul>
		</nav>
		{% block header %}
		<h1>Zhe Li</h1>
		{% endblock %}
	</header>
		{% block bodycontent %}
		I should never see this content.  It should be replaced.
		{% endblock %}
	<footer>
		<p>Copyright &copy; Zhe Li from <a href="http://umich.edu">University of Michigan</a>.</p>
	</footer>
	
</body>
</html>