{% extends "templates/base.html" %}
{% block title %}
     Zhe Li - Food
{% endblock %}
{% block header %}
		<img id="fbg" src="static/foodheader.png" class="img-responsive" alt="foodheader" style="height:20%;"> 
		<h1 class="header" id="foodheader">Food</h1>
		<hr id="foodhr">
{% endblock %}
{% block bodycontent %}
	<p id="food">I love food all around the world. Here I will introduce some wonderful food from China and France to you.</p>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<img src="static/ricenoodles.jpg" id="ricenoodles" alt="ricenoodles" class="food-img img-responsive"/>
			</div>
			<div class="col-lg-6 col-md-6 fooddesp">
				<p>Crossing-the-bridge noodles is a rice noodle soup from Yunnan province, China. It is one of the most well-known dishes in Yunnan cuisine. The dish is served with a large bowl of boiling hot broth and the soup ingredients. These ingredients are separated. The soup ingredients are served on a cutting board or plate and include raw vegetables and lightly cooked meats. Common ingredients include thin slices of turkey, chunks of chicken, chicken skin, strips of bean curd sheets, chives, sprouts and rice noodles. Once added into the broth, it cooks quickly with a layer of schmaltz and oil glistening on top. The soup takes a few minutes to cook, and it is then spooned out into small bowls. Jim Thurman of LA Weekly writes that "with the rice noodles and fresh chicken, it's reminiscent of an extremely subtle version of Vietnamese pho ga. Which shouldn't surprise anyone, as Yunnan shares a border with Vietnam.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<img src="static/hotpot.jpg" alt="hotpot" class="food-img img-responsive" id="hotpot"/>
			</div>
			<div class="col-lg-6 col-md-6 fooddesp">
				<p>The Chinese hot pot has a history of more than 1,000 years. Hot pot seems to have originated in Mongolia and the Jin Dynasty where the main ingredient was meat, usually beef, mutton or horse. It refers to several East Asian varieties of stew, consisting of a simmering metal pot of stock at the center of the dining table. While the hot pot is kept simmering, ingredients are placed into the pot and are cooked at the table. The cooked food is usually eaten with a dipping sauce. Hot pot meals are usually eaten in the winter during supper time.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<img src="static/macaroons.jpg" alt="macaroon" class="food-img img-responsive" id="macaron"/>
			</div>
			<div class="col-lg-6 col-md-6 fooddesp">
				<p>A macaron is a French sweet meringue-based confection made with egg white, icing sugar, granulated sugar, almond powder or ground almond, and food colouring. The macaron is commonly filled with ganache, buttercream or jam filling sandwiched between two cookies. The name is derived from the Italian word macarone, maccarone or maccherone, the meringue.</p>
			</div>
		</div>
	</div>
	{% endblock %}