{% extends "templates/base.html" %}
{% block title %}
     Zhe Li's Portfolio
{% endblock %}
{% block header %}
<img src="static/sea.png" class="title-image" alt="sea" style="width:100%;">
<div class="title-image">
<h1>Beautiful Life</h1>
<h2>Do my best and lead a romantic life.</h2>
</div>
{% endblock %}
{% block nav %}
				<ul class="nav nav-tabs nav-justified navbar-fixed-top">
 				<li class=" {% if name == "/index" or name == "index" %}active{% else %}inactive{% endif %}"><a href="#homeimg">Home</a></li>
  				<li class=" {% if name == "/contact" %}active{% else %}inactive{% endif %}"><a href="#loginimg">Contact</a></li>
  				<li class=" {% if name == "/food" %}active{% else %}inactive{% endif %}"><a href="#foodimg">Food</a></li>
  				<li class=" {% if name == "/travel" %}active{% else %}inactive{% endif %}"><a href="#travelimg">Travel</a></li>
				</ul>
{% endblock %}	
{% block bodycontent %}
<div class="container">
	<div class="row">
 		<div class="col-lg-4 col-md-4 text-center indexp">
			<p>The flower that smiles today, </p>
			<p>Tomorrow dies; </p>
			<p>All that we wish to stay, </p>
			<p>Tempts and then flies. </p>
			<p>What's the world's delight? </p>
			<p>Lightning that mocks the night, </p>
			<p>Brief even as bright. </p><br/>
		</div>
 		<div class="col-lg-4 col-md-4 text-center indexp">
			<p>Virtue, how frail it is! </p>
			<p>Friendship how rare! </p>
			<p>Love, how it sells poor bliss, </p>
			<p>For proud despair! </p>
			<p>But we, though soon they fall, Survive their joy and all,</p>
			<p> Which ours we call.</p><br/>
			<p>---Mutability by Shelley </p><br/>
		</div>
 		<div class="col-lg-4 col-md-4 text-center indexp">
			<p>Whilst skies are blue and bright, </p>
			<p>Whilst flowers are gay, </p>
			<p>Whilst eyes change ere night, </p>
			<p>Make glad the day; </p>
			<p>Whilst yet the calm hours creep, </p>
			<p>Dream thou-and from thy sleep, </p>
			<p>Then wake to weep.</p><br/>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12 col-md-12 text-center">
			<div class="description">
			<p> The poem was written by the great poet Shelley. Life is so precious for its mutability. For me, there are three things in life that can't be lived up to. <br/>They are reading, food, travel.  I will lead you to see a beatiful life of mine! <br/>Welcome to my portfolio!</p></div>
<section id="imagelink">
	<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6">
				<a href="/index" class="portfolio-link">
					<div class="caption">
                        <div class="caption-content">
                        	<h2>Home</h2>
                        	<p>This is the homepage of my portfolio.</p>
                        </div>
                    </div>
				<img src="static/home.jpg" alt="homepicture" id="homeimg" class="img-responsive thumbnail"/>
				</a>
		</div>
		<div class="col-lg-6 col-md-6">
				<a href="/contact" class="portfolio-link">
					<div class="caption">
                        <div class="caption-content">
                        	<h2>Contact</h2>
                        	<p>Leave a message to me.</p>
                        </div>
                    </div>
				<img src="static/login.jpg" alt="loginpicture" id="loginimg" class="img-responsive thumbnail"/>
				</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6">
				<a href="/food" class="portfolio-link">
					<div class="caption">
                        <div class="caption-content">
                        	<h2>Food</h2>
                        	<p>Food make life colourful.</p>
                        	<p>Come and see my favorite food.</p>
                        </div>
                    </div>
				<img src="static/food.jpg" alt="foodpicture" id="foodimg" class="img-responsive thumbnail"/>
				</a>
		</div>
		<div class="col-lg-6 col-md-6">
				<a href="/travel" class="portfolio-link">
					<div class="caption">
                        <div class="caption-content">
                        	<h2>Travel</h2>
                        	<p>I love travel so much.</p>
                        	<p>Come with me to see the wonderful places.</p>
                        </div>
                    </div>
				<img src="static/travel.jpg" alt="travelpicture" id="travelimg" class="img-responsive thumbnail"/>
				</a>
		</div>
	</div>
	</div>
</section>
{%endblock%}