{% extends "templates/base.html" %}
{% block title %}
     Zhe Li's Portfolio
{% endblock %}
{% block header %}
<img src="static/sea.jpg" class="title-image" alt="sea" style="width:100%;">
<div class="title-image">
<h1>Beautiful Life</h1>
<h2>Do my best and lead a romantic life.</h2>
</div>
{% endblock %}
{% block bodycontent %}
<div class="container">
	<div class="row">
 		<div class="col-lg-4 col-md-4 text-center">
			<p>The flower that smiles today, </p>
			<p>Tomorrow dies; </p>
			<p>All that we wish to stay, </p>
			<p>Tempts and then flies. </p>
			<p>What's the world's delight? </p>
			<p>Lightning that mocks the night, </p>
			<p>Brief even as bright. </p><br/>
		</div>
 		<div class="col-lg-4 col-md-4 text-center">
			<p>Virtue, how frail it is! </p>
			<p>Friendship how rare! </p>
			<p>Love, how it sells poor bliss, </p>
			<p>For proud despair! </p>
			<p>But we, though soon they fall, Survive their joy and all,</p>
			<p> Which ours we call.</p><br/>
		</div>
 		<div class="col-lg-4 col-md-4 text-center">
			<p>Whilst skies are blue and bright, </p>
			<p>Whilst flowers are gay, </p>
			<p>Whilst eyes change ere night, </p>
			<p>Make glad the day; </p>
			<p>Whilst yet the calm hours creep, </p>
			<p>Dream thou-and from thy sleep, </p>
			<p>Then wake to weep.</p><br/>
			<p id="annotation">---Mutability by Shelley </p><br/>
		</div>
	</div>
	<div class="row">

<p> The poem was written by the great poet Shelley. Life is so precious for its mutability. For me, there are three things in life that can't be lived up to. They are reading, food, travel. </p>
<p>Welcome to my portfolio! I will lead you to see a beatiful life of mine!</p>
{%endblock%}